
.chat__room {
  padding: 40px 40px 0;

  &__name {
    float: left;
    @include __name;
    color: $chat-fc;
  }

  &__date {
    @include __sub;
    float: left;
    padding: 4px 10px 0;
  }

  &__text {
    width: calc( 100vw - 500px );
    clear: both;
    font-size: 14px;
    color: $chat-fc;
    padding-top: 10px;
    word-wrap: break-word;
  }
}
