//contents
$default-bg: #FFFFFF;

//sideBar
$side-fc: #FFFFFF;

//chat
$btn-color: #38AEF0;
$chat-fc: #434A54;
$sub-fc: #999999;

//group view
$alert-color: #f05050;
$notice-color: #38aef0;

//account view
$alert-bg: #d65f4c;
